<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.babbangona.inventory.msb">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="com.bgenterprise.bglmtcinventory.READ_DATABASE"/>
    <uses-permission android:name="com.bgenterprise.bglmtcinventory.WRITE_DATABASE"/>

    <uses-feature android:name="android.hardware.camera2" />

    <!-- <uses-feature android:name="android.hardware.camera.autofocus" /> -->
    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.babbangona.inventory.msb.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.babbangona.inventory.msb.NetworkSchedulerService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name="com.babbangona.inventory.msb.Operations" />
        <activity
            android:name="com.babbangona.inventory.msb.ViewAllTransactions"
            android:theme="@style/AppTheme" />
        <activity android:name="com.babbangona.inventory.msb.LMDScan" />
        <activity android:name="com.babbangona.inventory.msb.Transactions" />
        <activity
            android:name="com.babbangona.inventory.msb.Delivery"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name="com.babbangona.inventory.msb.Pickup" />
        <activity
            android:name="com.babbangona.inventory.msb.Main2Activity"
            android:exported="true" />
        <activity android:name="com.babbangona.inventory.msb.enterLMR" />
        <activity android:name="com.babbangona.inventory.msb.enterSupplier" />
        <!--<activity android:name=".ContractDetails" />-->
    </application>

</manifest>